body { display: block;
       height: 100%;
       width: 100%;
       background-image: url(горный2.gif);
       background-size: cover;
	   background-attachment: fixed;
	   margin: 0px;
	   padding: 0px;
       border: none}
	   p {margin: 10px;
	      padding: 5px;
		  font-size: 20px;
		  font-weight: 700;
	   }
div {height: 100px;
     width: 100px;
     margin: 40px;
     padding: 5px;
     border: solid 2px green;
     background-color: red}
.image {background-image: url('Фудзияма.jpg');
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;}
